*{
	margin: 0;
	padding: 0;
}
/*loader start*/
/*loader end*/
body{
	font-family: 'Montserrat', sans-serif;
}
p,h1,h2,h3,h4,h5,h6,img{
	margin: 0;
	padding: 0;
}
/*header start*/
header{
    background-color: #fff;
} 
.sticky-top{
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.logo1{
    width: 100%;
}
.menu ul li{
    padding: 0 5px;
} 
.menu ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #000 !important;
    transition-duration: .5s;
    text-transform: uppercase;
}
.menu ul li:last-child a{
    padding-right: 0px !important;
}
.menu ul li a:hover{
    color: #3C752E !important;
}
/*header end*/
/*banner start*/
.banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0;
    /*display: none;*/
}
.loslider img{
    width: 100%;
}
.banner_cont{
    text-align: center;
     margin: 30px 0 0 0;
}
.banner_cont h1 {
   font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*banner end*/
/*footer start*/
footer{
/*margin: 15px 0;*/
/*display: none;*/
}
.fo_left{

}
.fo_left p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #07200A; 
    padding: 10px 0; 
}
.fo_right{
overflow: hidden;
margin: 0 0 0 224px;
}
.fo_right ul{
}
.fo_right ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
}
.fo_right ul li a{
    color: #07200A;
    font-size: 20px;
    margin: 0 5px;
    line-height: 40px;
    display: block;
    text-align: center;  
}
.fo_right ul li a:hover{
color:#0F3F14;
}
/*footer end*/
/**/
/*footer end*/
/*sticky menubar start*/
 
  
/*#navigation {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 111;
    transition: all linear .3s;
}
  
  
.navfixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 !important;
    background: green !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.40);
    transition: all linear 0.5s;
}

.navfixed .nav-item .nav-link {
    font-size: 16px;
    color: #fff !important;
    transition: 0.4s;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
}

#navigation .nav-item {
    padding-left: 15px;
}

#navigation .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    transition: all linear 0.5s;
}

.navfixed .navbar {
    padding: 0;
    height: 80px;
}

.navfixed .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff !important;
    transition: all linear 0.5s;
}

#navigation .navbar-light .navbar-nav .active > .nav-link {
    color: #6b2bc3;
}

#navigation .nav-item .nav-link {
    font-size: 16px;
    color: #000;
    transition: 0.4s;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 20px;
    display: block;
}

#navigation .navbar-light .navbar-nav .nav-link:focus,
#navigation .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.navfixed .navbar-light .navbar-nav .nav-link:focus,
.navfixed .navbar-light .navbar-nav .nav-link:hover {
    color: #000 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}*/
/*sticky menubar end*/